In [1]:
library(igraph)
library("data.table")
library(plyr)

Attaching package: ‘igraph’

The following objects are masked from ‘package:stats’:

    decompose, spectrum

The following object is masked from ‘package:base’:

    union

In [2]:
df=data.frame()

In [3]:
df=read.csv("a.csv")

In [4]:
head(df)

  X X0   X1
1 0 2073  806
2 1 2073 1177
3 2  806 1177
4 3 1444 2017
5 4 1444  583
6 5 2017  583

In [5]:
nrow(df)

[1] 5627

In [6]:
data<-fread("san_francisco-censustracts-2017-4-All-MonthlyAggregate.csv", header=TRUE, sep=",",stringsAsFactors=FALSE)

In [7]:
head(data)

  sourceid dstid month mean_travel_time standard_deviation_travel_time
1  434      906  10     188.09          116.06
2 1311        3  10    1300.10          377.45
3 1736        2  10     805.12          344.87
4  560     2375  10    1627.73          533.35
5 1628     2367  10    1228.89          452.52
6 1938     1952  12     596.69          327.27
  geometric_mean_travel_time geometric_standard_deviation_travel_time
1  168.73                    1.54
2 1261.17                    1.26
3  744.22                    1.47
4 1552.00                    1.35
5 1167.50                    1.36
6  530.23                    1.60

In [119]:
data[which(data$sourceid ==246 & data$dstid==279 &month==12)]

     sourceid dstid month mean_travel_time standard_deviation_travel_time
     geometric_mean_travel_time geometric_standard_deviation_travel_time

In [117]:
data[which(data$sourceid ==246' & data$dstid=='529' &month==12)]

     sourceid dstid month mean_travel_time standard_deviation_travel_time
     geometric_mean_travel_time geometric_standard_deviation_travel_time

In [128]:
data[which(data$dstid =='2383' &month==12)]

   sourceid dstid month mean_travel_time standard_deviation_travel_time
1  1204     2383  12    3219.37          423.06
2  1418     2383  12     553.06           98.01
3   729     2383  12     634.17          105.30
4  1417     2383  12     458.09           69.40
5   150     2383  12    1514.25          329.83
6  1148     2383  12     947.00          141.30
7  1132     2383  12     684.47          110.97
8     5     2383  12     582.97          103.71
9  2288     2383  12     731.11          163.03
10  926     2383  12     999.22          197.15
11 1814     2383  12     981.83          143.80
12 2398     2383  12    2206.32          315.34
13  804     2383  12    1179.61          171.90
14   25     2383  12    2934.03          416.67
15 2295     2383  12     419.14           49.50
16 2029     2383  12    3770.19          552.71
17 1982     2383  12    2944.13          420.11
18 1810     2383  12     862.25          130.68
19 2254     2383  12    1768.47          393.22
20 2709     2383  12    1288.71          195.73
21 2583     2383  12     346.00           46.85
22   92     2383  12    1139.55          165.72
23  366     2383  12    2678.65          387.38
24 1415     2383  12     497.14          107.15
25 1412     2383  12     280.59           53.35
26   93     2383  12    1743.03          274.88
27 1410     2383  12     153.64           26.18
28 2568     2383  12    1061.94          178.97
29    6     2383  12    2821.47          404.29
30  451     2383  12     375.37           47.99
31 1206     2383  12    3465.20          530.55
32    7     2383  12    3008.27          422.72
   geometric_mean_travel_time geometric_standard_deviation_travel_time
1  3193.84                    1.13
2   546.11                    1.16
3   626.89                    1.16
4   453.16                    1.16
5  1465.26                    1.34
6   937.49                    1.15
7   676.83                    1.16
8   575.32                    1.17
9   696.74                    1.48
10  969.50                    1.33
11  972.25                    1.15
12 2185.80                    1.14
13 1168.25                    1.15
14 2907.05                    1.14
15  415.89                    1.14
16 3734.61                    1.14
17 2917.06                    1.14
18  853.57                    1.15
19 1686.90                    1.47
20 1274.99                    1.15
21  342.09                    1.17
22 1128.65                    1.15
23 2653.18                    1.14
24  486.71                    1.23
25  265.12                    1.60
26 1723.62                    1.16
27  151.36                    1.19
28 1046.47                    1.19
29 2795.00                    1.14
30  371.78                    1.16
31 3429.60                    1.15
32 2981.22                    1.14

In [103]:
data[which(data$sourceid =='1746' & data$dstid=='' &month==12)]

  sourceid dstid month mean_travel_time standard_deviation_travel_time
1 1746     1747  12    123.66           213.04
  geometric_mean_travel_time geometric_standard_deviation_travel_time
1 45.75                      4.49

In [8]:
data_needed=data.frame(data$sourceid,data$dstid,data$month,data$mean_travel_time)
data_needed= subset(data_needed, data.month == "12")
data_needed=data.frame(data_needed$data.sourceid,data_needed$data.dstid,data_needed$data.mean_travel_time)
head(data_needed)
nrow(data_needed)
colnames(data_needed) <- c("sourceid", "dstid","weight")
gold<-graph_from_data_frame(data_needed, directed=FALSE)
location<-fread("location.csv", header=TRUE, sep=",",stringsAsFactors=FALSE)
head(location)
coordinates<-fread("coordinates.txt", header=FALSE, sep="\t",stringsAsFactors=FALSE)
head(coordinates)
vector = c()

for(i in 1: length(V(gold)))
{   vector[i]=location$properties.DISPLAY_NAME[location$properties.MOVEMENT_ID==get.vertex.attribute(gold, "name",i)]
}
gold<-set_vertex_attr(gold, 'location', index = V(gold), vector)


for(i in 1: length(V(gold)))
{   vec=c()
    vec[1]=coordinates$V2[coordinates$V1==get.vertex.attribute(gold, "name",i)]
    vec[2]=coordinates$V3[coordinates$V1==get.vertex.attribute(gold, "name",i)]
    gold <- set.vertex.attribute(gold, 'coordinates', i, list(vec))
}

  data_needed.data.sourceid data_needed.data.dstid
1 1938                      1952
2 1747                       629
3 1872                      1919
4 1871                      1929
5   81                      2319
6 1873                      1909
  data_needed.data.mean_travel_time
1  596.69
2 1454.81
3 1227.01
4 1005.54
5  474.53
6 1164.51

[1] 538998

  properties.MOVEMENT_ID properties.DISPLAY_NAME
1 1                      Sargent Creek, San Ardo
2 2                      400 Northumberland Avenue, Redwood Oaks, Redwood City
3 3                      18300 Sutter Boulevard, Morgan Hill
4 4                      2700 Stoughton Way, Sheffield, Sacramento
5 5                      3200 Huntsman Drive, Rosemont Park, Sacramento
6 6                      100 Carlsbad Circle, Vacaville

  V1 V2        V3
1 1  -120.7887 36.07163
2 2  -122.2194 37.46958
3 3  -121.6602 37.15048
4 4  -121.3428 38.57307
5 5  -121.3617 38.55443
6 6  -121.9484 38.36665

In [9]:
c1<-clusters(gold)
largest_g<-induced.subgraph(gold, which(c1$membership == which.max(c1$csize)))
largest_g<-simplify(largest_g, edge.attr.comb="mean",remove.multiple=TRUE)

In [105]:
nrow(data[which(data$sourceid == 806 & data&dstid == 2073), 4])
#nrow(data[which(data$sourceid == src & data&dstid == dst), 4])
shortest_paths(largest_g,434,906)

[1] 0

$vpath
$vpath[[1]]
+ 4/1880 vertices, named, from 5234595:
[1] 2170 832  156  564


$epath
NULL

$predecessors
NULL

$inbound_edges
NULL

In [98]:
E(largest_g)$weight[1]

[1] 2923.59

In [95]:
E(largest_g)[which(E(largest_g)$[1]='1938--1747'), ]

ERROR: Error in parse(text = x, srcfile = src): <text>:1:33: unexpected '['
1: E(largest_g)[which(E(largest_g)$[
                                    ^

In [100]:
shortest_paths(largest_g,'1938','1747')

$vpath
$vpath[[1]]
+ 4/1880 vertices, named, from 5234595:
[1] 1938 1241 1746 1747


$epath
NULL

$predecessors
NULL

$inbound_edges
NULL

In [107]:
V(largest_g)$name[434]

[1] "2170"

In [57]:
row <- df[1,]
rsrc=row['X0']
rdst=row['X1']
nsrc=as.numeric(unlist(rsrc))
ndst=as.numeric(unlist(rdst))
print(c(nsrc,ndst))
#print(tostring(nsrc))
shortest_paths(largest_g,'2383','583')

[1] 2073  806

$vpath
$vpath[[1]]
+ 13/1880 vertices, named, from 5234595:
 [1] 2383 2295 2538 1635 2368 1620 2329 432  1712 1954 2446 2425 583


$epath
NULL

$predecessors
NULL

$inbound_edges
NULL

In [151]:
sum=0
s1 = '2425'
s2 = '583'
if(nrow(data[which(data$sourceid == s1 & data$dstid == s2), 4])!=0)
{
    print('if')
    dddd=as.numeric(unlist(data[which(data$sourceid == s1 & data$dstid == s2 &month==12), 4]))
    print(dddd)
    sum = sum + as.numeric(unlist(data[which(data$sourceid == s1 & data$dstid == s2), 4]))
}else if(nrow(data[which(data$sourceid == s2 & data$dstid == s1), 4])!=0)
{
    print('else')
    sum = sum + as.numeric(unlist(data[which(data$sourceid == s2 & data$dstid == s1), 4]))
}

[1] "if"
[1] 287.19

In [148]:
sum[2]

[1] 280.81

In [72]:
print(as.numeric(unlist(data[which(data$sourceid ==1858  & data$dstid == 1806), 4])))

numeric(0)

In [ ]:
wt = c()
for(i in 1:nrow(df)) {
#     print(i)
    row <- df[i,]
    rsrc=row['X0']
    rdst=row['X1']
    nsrc=as.numeric(unlist(rsrc))
    ndst=as.numeric(unlist(rdst))
    src=as.character(nsrc)
    dst=as.character(ndst)
    if(nrow(data[which(data$sourceid == src & data$dstid == dst &month==12), 4])!=0)
    {
        mtt=as.numeric(data[which(data$sourceid == src & data$dstid == dst &month==12), 4])
        
    }
    else if(nrow(data[which(data$sourceid == dst & data$dstid == src &month==12), 4])!=0)
    {
        mtt=as.numeric(data[which(data$sourceid == dst & data$dstid == src &month==12), 4])
    }
    else
    {
        sum = 0
        print(c(src,dst))
        sp=shortest_paths(largest_g,src,dst)
        for(i in 1:(length(sp$vpath[[1]])-1)) {
            print(sp$vpath[[1]][i])
            s1 = as.character(sp$vpath[[1]][i])
            s2 = as.character(sp$vpath[[1]][i+1])
            if(nrow(data[which(data$sourceid == s1 & data$dstid == s2 &month==12), 4])!=0)
            {
                sum = sum + as.numeric(unlist(data[which(data$sourceid == s1 & data$dstid == s2 &month==12), 4]))

            }
            else if(nrow(data[which(data$sourceid == s2 & data$dstid == s1 &month==12), 4])!=0)
            {
                sum = sum + as.numeric(unlist(data[which(data$sourceid == s2 & data$dstid == s1 &month==12), 4]))
            }
        }
            
        mtt = sum
    }
    
    wt = c(wt,mtt)
}

In [ ]:
wt

In [ ]:
length(wt)

In [ ]:
nrow(df)

In [53]:
sp = shortest_paths(largest_g,'2606','1967')
length(sp$vpath[[1]])-1

[1] 7

In [54]:
shortest_paths(largest_g,'1967','2606')

$vpath
$vpath[[1]]
+ 8/1880 vertices, named, from 5234595:
[1] 1967 1439 1935 2441 1257 1258 964  2606


$epath
NULL

$predecessors
NULL

$inbound_edges
NULL

In [ ]:
sp

In [ ]:
dd=shortest_paths(largest_g,'1967','2606')
dd$vpath[[1]][1]

In [ ]:
for(i in 1:nrow(df)) {
    row <- df[i,]
    df[which(df$Amount == min(df$Amount)), ]
    gg=data[which(data$sourceid == row['X0']),]
    print(gg)
    # do stuff with row
}

In [ ]:
g=graph_from_data_frame(df,directed = FALSE)

In [ ]:
edge_attr(g,"weight")

In [ ]:
V(g)$name[2073]

In [ ]:
V(g)$name[neighbors(g,'2073')]

In [ ]:
list.vertex.attributes(g)

In [ ]:
as.numeric(Vac='1'
edge_id = get.edge.ids(g,c('0','1'),directed = TRUE)
print(edge_id)
wt=edge_attr(g, "weight", edge_id)
print(wt)(g)["2607"])

In [ ]:
shortest_paths(g, 2607, 1968)

In [ ]:
check= subset(data, sourceid == "2607")
check1=subset(check, dstid == "24")

In [ ]:
head(check1)

In [115]:
# name->id
which(V(largest_g)$name == "906")

[1] 279

In [ ]:
# id->name
V(g)$name[1968]

In [ ]:
for(pp in pt[1])
{
    print(V(g)$name[pp])
    
}

In [ ]:
print(data[which(data$sourceid == 2606 & data$dstid == 23),])

In [ ]:
ff=c(2606,23,896, 377 ,1909 ,2070, 718,  2187 ,1869, 676 , 1786 ,1527 ,1783 ,2563, 889,2170, 2062, 1967)
sum=0
for(f in ff)
{
    print(data[which(data$sourceid == f & data$sourceid == 23),4])
    
}
sum

In [ ]:
V(g)$name[neighbors(g,2072)]

In [ ]:
g_mst<-mst(g)

In [ ]:
2607
1968